.section {
  position: relative;

  min-height: var(--section-height, 100dvh);

  box-sizing: border-box;

  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.separator {
  width: 100%;
  height: 1px;

  background-color: var(--colore-separatore-bordo);
}

@media (max-width: 768px) {
  .section {
    min-height: auto;
    scroll-snap-align: none;
  }
}
